+{
	margin: 0px;
	padding: 0px;


}
body{
color:#ffffff;

;
	background-size: cover;
	color:#100b12;
}

.portada_fondo{
	background: black;

	width: 1325px;
	height: 350px;


	padding: 20px;

	margin-top: 0px;
	margin-bottom: 0px;

	margin-left: 0px;
	margin-right: 0px;
}

.portada_delante{
	background: url(instituto.jpg) no-repeat;
	background-size: cover;
	width: 1524px;
	height: 390px;
	position: absolute;
	left:-7%;
	


	margin-top: -390px;
	margin-left: 110px;


}
.cine{
	background: none;
	background-size: cover;
	font-size: 90px;
	width: 390px;
	height: 100px;

	padding: 20px;
	margin-top: -390px;
}

.asesion{
	background: url(color.jpg) no-repeat;

	background-size: cover;
	font-size: 25px;

	width: 10px;
	height: 95px;

	padding: 70px;

	margin-top: -70px;
	margin-bottom: 0px;
	margin-left: 970px;
	margin-right: 50px;
}

.registrate{
	background: url(color.jpg) no-repeat;

	background-size: cover;
	font-size: 30px;

	width: 150px;
	height: 50px;

	padding: 2opx;

	margin-top: -120px;
	margin-bottom: 0px;
	margin-left: 970px;
	margin-right: 0px;

	border-radius: 10px;
}

.cartelera{
	font-size: 18px;
	background: url(../imagen/color.jpg) no-repeat;
	background-size: cover;

	width: 1330px;
	height: 0px;

	padding: 20px;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;


}

.subcartelera{
	font-size: 12px;
	background-size: cover;

	width: 1330px;
	height: 0px;

	padding: 20px;
	margin-top: 50px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;


}

.peli1{
	background: none;

	width: 210px;
	height: 290px;

	padding: 0px;

	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 110px;
	margin-right: 0px;
}

.peli2{
	background: none;

	width: 210px;
	height: 290px;

	padding: 0px;

	margin-top: -290px;
	margin-bottom: 0px;
	margin-left: 340px;
	margin-right: 0px;


}
.peli3{
	background: none;

	width: 210px;
	height: 290px;

	padding: 0px;

	margin-top: -290px;
	margin-bottom: 0px;
	margin-left: 570px;
	margin-right: 0px;


}
.peli4{
	background: none;

	width: 210px;
	height: 290px;

	padding: 0px;

	margin-top: -290px;
	margin-bottom: 0px;
	margin-left: 800px;
	margin-right: 0px;


}
.peli5{
	background: none;

	width: 210px;
	height: 290px;

	padding: 0px;

	margin-top: -290px;
	margin-bottom: 0px;
	margin-left: 1030px;
	margin-right: 0px;


}
.peli6{
	background: none;

	width: 210px;
	height: 290px;

	padding: 0px;

	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 110px;
	margin-right: 0px;


}
.peli7{
	background: none;

	width: 210px;
	height: 290px;

	padding: 0px;

	margin-top: -290px;
	margin-bottom: 0px;
	margin-left: 340px;
	margin-right: 0px;


}
.peli8{
	background: none;

	width: 210px;
	height: 290px;

	padding: 0px;

	margin-top: -290px;
	margin-bottom: 0px;
	margin-left: 570px;
	margin-right: 0px;


}
.peli9{
	background: none;

	width: 210px;
	height: 290px;

	padding: 0px;

	margin-top: -290px;
	margin-bottom: 0px;
	margin-left: 800px;
	margin-right: 0px;


}
.peli10{
	background: none;

	width: 210px;
	height: 290px;

	padding: 0px;

	margin-top: -290px;
	margin-bottom: 0px;
	margin-left: 1030px;
	margin-right: 0px;


}
.peli11{
	background: none;

	width: 210px;
	height: 290px;

	padding: 0px;

	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 110px;
	margin-right: 0px;


}


.fondo{
	background: url(inicio.jpg) no-repeat;
	background-size: cover;
	width: 600px;
	height: 340px;
	position: absolute;
	left:50%;
	


}
 